:root {
  --bgColor: #a7bcff;
  --logoColor: #002656;
  --sidebarColor: #7d93cf;
  --navbarColor: #546ca5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.formContainer {
  background-color: var(--bgColor);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .formWrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 10px;
    text-align: center;
  }

  .logo {
    color: var(--logoColor);
    font-size: 24px;
    font-weight: bold;
  }

  .title {
    color: var(--logoColor);
    font-size: 12px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
      width: 250px;
      padding: 15px;
      border: none;
      outline: none;
      border-bottom: 1px solid var(--bgColor);
      &::placeholder {
        color: rgb(175, 175, 175);
      }
    }

    label {
      display: flex;
      align-items: center;
      padding-left: 5px;
      :hover {
        cursor: pointer;
      }
      img {
        width: 30px;
      }
      span {
        color: var(--logoColor);
        font-size: 12px;
        padding-left: 5px;
      }
    }

    button {
      background-color: var(--logoColor);
      color: white;
      padding: 10px;
      border: none;
      font-weight: bold;
      &:hover {
        background-color: var(--bgColor);
        cursor: pointer;
      }
    }

    p {
      color: var(--logoColor);
      font-size: 12px;
    }
  }
}

// Home page

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-color: var(--bgColor);
  .homeWrapper {
    display: flex;
    background-color: white;
    height: 80%;
    width: 65%;
    border-radius: 10px;
    overflow: hidden;
    .sidebar {
      flex: 1;
      background-color: var(--navbarColor);
      .navbar {
        background-color: var(--logoColor);
        height: 50px;
        padding: 10px;
        color: white;
        display: flex;
        align-items: center;

        justify-content: space-between;
        .title {
          font-weight: bold;
          align-self: center;
        }
        .user {
          display: flex;
          gap: 5px;
          font-size: 12px;
          align-items: center;
          text-transform: capitalize;

          img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            object-fit: cover;
          }
          button {
            background-color: var(--bgColor);
            border: none;
            color: white;
            font-size: 10px;
            padding: 2px 5px;
            border-radius: 5px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .searchbar {
        input {
          overflow: hidden;
          background-color: transparent;
          border: none;
          padding: 10px;
          color: white;
          outline: none;
          &::placeholder {
            color: lightgray;
          }
        }
      }
      .users {
        .user {
          display: flex;
          gap: 5px;
          margin-bottom: 10px;
          padding: 0px 7px;
          &:hover {
            background-color: var(--navbarColor);
            cursor: pointer;
          }
          img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
          .user-info {
            padding-top: 3px;
            span {
              color: white;
              font-size: 16px;
              font-weight: 500;

              text-transform: capitalize;
            }
            p {
              font-size: 13px;
              color: lightgray;
            }
          }
        }
      }
    }

    .messages {
      position: relative;
      flex: 2;
      background-color: #e6f0ff;
      .message-info {
        display: flex;
        background-color: var(--sidebarColor);
        height: 50px;
        padding: 10px;
        align-items: center;
        justify-content: space-between;
        span {
          letter-spacing: 1px;
          border: 1px solid var(--bgColor);
          padding: 4px 8px;
          border-radius: 10px;
        }
        .logo {
          font-size: 25px;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .message-area {
        height: calc(100% - 140px);
        .message {
          margin-top: 10px;
          margin-left: 5px;
          color: black;
          .message-content {
            display: flex;

            gap: 10px;
            img {
              height: 50px;
              width: 50px;
              border-radius: 50%;
              object-fit: cover;
            }
            p {
              align-self: center;
            }
          }
          span {
            color: gray;
          }
        }
      }
      .input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: black;
        background-color: white;
        height: 50px;
        padding: 10px;
        border: none;
        outline: none;

        input {
          border: none;
          outline: none;
        }
        .send {
          display: flex;
          gap: 5px;
        }
      }
    }
  }
}
